<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adinfinitum.sentirepotestas" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Accelerometer"
            android:label="@string/title_activity_accelerometer"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adinfinitum.sentirepotestas.Home" />
        </activity>
        <activity
            android:name=".ProximitySentire"
            android:label="@string/title_activity_proximity_sentire"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adinfinitum.sentirepotestas.Home" />
        </activity>
        <activity
            android:name=".GyroSentire"
            android:label="@string/title_activity_gyro_sentire"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adinfinitum.sentirepotestas.Home" />
        </activity>
        <activity
            android:name=".AcceloAnime"
            android:label="@string/title_activity_accelo_anime"
            android:parentActivityName=".Accelerometer"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adinfinitum.sentirepotestas.Accelerometer" />
        </activity>
    </application>

</manifest>
